<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="bg-slate-50 antialiased">
    {% include header.html %}

    <div class="flex flex-col p-8 lg:py-12 items-center justify-center">
      <div class="w-full lg:text-xl max-w-prose flex flex-col gap-3 mb-6">
        <span class="text-base text-slate-600"
          >Jordan Koschei — {{ page.date | date: "%B %d, %Y" }}</span
        >
        <h1 class="font-sans text-4xl font-bold">{{ page.title }}</h1>
        <p
          class="font-serif font-medium text-xl lg:text-2xl italic leading-relaxed lg:leading-relaxed"
        >
          {{ page.description }}
        </p>
      </div>

      <figure class="mb-6">
        {% if page.hero %}
        <img
          src="{{site.url}}/assets/img/{{ page.hero }}"
          alt="{{page.title}}"
          role="presentation"
          class="md:w-full max-w-[100vw] -mx-8 md:mx-0 md:max-w-[90rem] aspect-video object-cover md:rounded-md"
        />
        {% endif %} {% if page.hero_attribution %}
        <figcaption class="font-sans mt-2 text-stone-500">
          {{ page.hero_attribution }}
        </figcaption>
        {% endif %}
      </figure>

      <article
        class="prose prose-xl prose-stone font-serif prose-figcaption:text-sm w-full"
      >
        {{ content }}

        <div class="border-t border-stone-200 mt-6 w-full">
          <div class="flex justify-between mb-0 mt-6">
            {% if page.previous %}
            <a
              href="{{ page.previous.url }}"
              class="flex gap-2 no-underline font-sans font-medium text-slate-600 items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
                />
              </svg>

              <span>Previous</span>
            </a>
            {% else %}
            <span></span>
            {% endif %} {% if page.next %}
            <a
              href="{{ page.next.url }}"
              class="flex gap-2 no-underline font-sans font-medium text-slate-600 items-center"
            >
              <span>Next</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                />
              </svg>
            </a>
            {% else %}
            <span></span>
            {% endif %}
          </div>
        </div>
      </article>
    </div>

    {% include footer.html %}
  </body>
</html>
