<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="bg-stone-50">
    {% include header.html %} {% assign top_post = site.posts.first %} {% assign
    slug_title = top_post.title | slugify %} {% if top_post.hero %} {% assign
    top_image = site.url | append: "/assets/img/" | append: top_post.hero %} {%
    else %} {% assign top_image = site.url | append: "/assets/img/" | append:
    slug_title | append: "-1.jpg" %} {% endif %}
    <div
      class="flex w-full h-[60vh] bg-cover bg-center flex-col items-center"
      style="background-image: url('{{ top_image }}')"
    >
      <div class="w-full max-w-[90rem] p-6 h-full flex flex-col justify-end">
        <a
          class="md:w-1/2 flex flex-col gap-3 items-start bg-white/30 backdrop-blur-lg p-5 text-stone-800 border border-stone-200 rounded-xl shadow-sm group"
          href="{{ top_post.url }}"
        >
          <span class="text-sm md:text-base">Featured interview</span>
          <h2 class="text-2xl md:text-4xl italic font-serif">
            {{ top_post.title }}
          </h2>
          <p class="font-serif italic text-base md:text-xl">
            {{ top_post.intro }}
          </p>
          <span
            class="text-sm md:text-base flex gap-1 items-center text-teal-700"
            >Read more
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-5 h-5 group-hover:translate-x-1 transition-transform duration-150 ease-out"
            >
              <path
                fill-rule="evenodd"
                d="M3 10a.75.75 0 0 1 .75-.75h10.638L10.23 5.29a.75.75 0 1 1 1.04-1.08l5.5 5.25a.75.75 0 0 1 0 1.08l-5.5 5.25a.75.75 0 1 1-1.04-1.08l4.158-3.96H3.75A.75.75 0 0 1 3 10Z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </a>
      </div>
    </div>

    <div class="flex flex-col items-center py-6 lg:pb-12">
      <div
        class="px-6 mt-6 max-w-[90rem] w-full flex flex-col flex-wrap md:grid md:grid-cols-2 lg:grid-cols-3 gap-6 justify-between md:items-stretch"
      >
        {% for post in site.posts | offset: 1 | limit: 3 %}
        <a
          href="{{ post.url }}"
          class="text-stone-700 bg-white border border-stone-200 rounded-xl shadow-sm flex flex-col relative overflow-clip"
        >
          <span
            class="absolute left-4 top-4 text-sm text-stone-900 font-medium whitespace-nowrap rounded py-0.5 px-2 bg-teal-50/80"
            >{{ post.town }}</span
          >
          <img
            {%
            if
            post.hero
            %}
            src="{{site.url}}/assets/img/{{ post.hero }}"
            {%
            else
            %}
            src="{{site.url}}/assets/img/{{ post.title | slugify }}-1.jpg"
            {%
            endif
            %}
            alt="{{post.title}}"
            role="presentation"
            class="w-full aspect-video object-cover"
          />
          <div class="p-6 h-full flex flex-col">
            <h2 class="font-bold text-xl mb-2">{{ post.title }}</h2>
            <p class="font-serif mb-4">{{ post.intro }}</p>
            <ul class="flex flex-wrap gap-1 mt-auto">
              {% for tag in post.tags %}
              <li>
                <span
                  class="text-sm text-stone-900 font-medium whitespace-nowrap rounded py-0.5 px-2 border bg-stone-50 border-stone-300"
                >
                  {{ tag }}
                </span>
              </li>
              {% endfor %}
            </ul>
          </div>
        </a>
        {% endfor %}
      </div>

      <div
        class="w-full bg-teal-800 bg-gradient-to-br from-teal-700 to-teal-900 flex justify-center mt-6 bg-cover bg-center"
        style="background-image: url('{{site.url}}/assets/img/subtle-topo.jpg')"
      >
        <div class="px-6 w-full max-w-[90rem] flex">
          <a
            href="https://connecthv.com"
            target="_blank"
            class="w-full max-w-[90rem] py-6 md:py-10 flex flex-col md:flex-row items-start md:items-center md:justify-between group"
          >
            <div>
              <h2
                class="font-serif italic text-white text-3xl font-normal mb-3"
              >
                Have you joined Connect<span class="font-bold">HV</span>?
              </h2>
              <p class="font-serif font-normal text-xl text-teal-50 mb-3">
                Showcase your work and connect with fellow Hudson Valley
                <span class="md:block"
                  >creatives, makers, and professionals.</span
                >
              </p>
              <p class="text-teal-200">
                It's 100% homegrown, made-in-the-Hudson-Valley, local tech made
                by a team of one.
                <span class="md:block">Fast, easy, and free to join.</span>
              </p>
            </div>
            <span
              class="mt-6 md:mt-0 shrink-0 flex shadow bg-gradient-to-b from-teal-500 to-teal-700 py-4 pl-5 pr-4 rounded-lg text-white drop-shadow-md group-hover:shadow-xl transition-shadow duration-150 ease-out"
            >
              Learn more
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="w-6 h-6 ml-3 group-hover:translate-x-1 transition-transform duration-150 ease-out"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                />
              </svg>
            </span>
          </a>
        </div>
      </div>

      <div
        class="px-6 mt-6 max-w-[90rem] w-full flex flex-col flex-wrap md:grid md:grid-cols-2 lg:grid-cols-3 gap-6 justify-between md:items-stretch"
      >
        {% for post in site.posts | offset: 4 %}
        <a
          href="{{ post.url }}"
          class="text-stone-700 bg-white border border-stone-200 rounded-xl shadow-sm flex flex-col relative overflow-clip"
        >
          <span
            class="absolute left-4 top-4 text-sm text-stone-900 font-medium whitespace-nowrap rounded py-0.5 px-2 bg-teal-50/80"
            >{{ post.town }}</span
          >
          <img
            {%
            if
            post.hero
            %}
            src="{{site.url}}/assets/img/{{ post.hero }}"
            {%
            else
            %}
            src="{{site.url}}/assets/img/{{ post.title | slugify }}-1.jpg"
            {%
            endif
            %}
            alt="{{post.title}}"
            role="presentation"
            class="w-full aspect-video object-cover"
          />
          <div class="p-6 h-full flex flex-col">
            <h2 class="font-bold text-xl mb-2">{{ post.title }}</h2>
            <p class="font-serif mb-4">{{ post.intro }}</p>
            <ul class="flex flex-wrap gap-1 mt-auto">
              {% for tag in post.tags %}
              <li>
                <span
                  class="text-sm text-stone-900 font-medium whitespace-nowrap rounded py-0.5 px-2 border bg-stone-50 border-stone-300"
                >
                  {{ tag }}
                </span>
              </li>
              {% endfor %}
            </ul>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
