<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="bg-slate-50 antialiased">
    {% include header.html %} {% assign top_post = site.posts.first %}

    <div
      class="min-h-96 flex w-full h-[60vh] bg-slate-800 bg-gradient-to-br from-slate-700 to-slate-950 relative flex-col items-center"
    >
      <div
        class="w-full max-w-[90rem] px-6 h-full flex flex-col justify-stretch items-stretch"
      >
        <a
          href="{{ top_post.url }}"
          class="group h-full flex flex-col justify-center items-start gap-2 lg:gap-3"
        >
          <span class="text-slate-200 mb-3 drop-shadow-md"></span>
            Latest — {{ top_post.date | date: "%B %d, %Y" }}
          </span>
          <h2
            class="font-bold font-serif italic text-2xl lg:text-6xl text-slate-50 drop-shadow-md"
          >
            {{ top_post.title }}
          </h2>
          <p
            class="font-serif italic text-xl lg:text-2xl text-slate-100 mb-6 drop-shadow-md max-w-4xl"
          >
            {{ top_post.description }}
          </p>
          <span
            class="shrink-0 flex shadow shadow-slate-800 bg-gradient-to-b from-slate-500 to-slate-700 py-4 pl-5 pr-4 rounded-lg text-white drop-shadow-md group-hover:shadow-xl transition-shadow duration-150 ease-out"
          >
            Read more
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-6 h-6 ml-3 group-hover:translate-x-1 transition-transform duration-150 ease-out"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
              />
            </svg>
          </span>
        </a>
      </div>
    </div>

    <div class="flex flex-col items-center py-6">
      <div
        class="px-6 max-w-[90rem] w-full flex flex-col"
      >
        {% for post in site.posts | offset: 1 %}
        <a
          href="{{ post.url }}"
          class="py-6 border-t border-slate-200 first:border-t-0 group"
        >
          <h3 class="font-bold text-3xl mb-2 text-slate-800 inline-flex items-center">
            {{ post.title }}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="shrink-0 w-6 h-6 opacity-0 group-hover:opacity-100 group-hover:translate-x-2 transition-all duration-150 ease-out">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </h3>
          <p class="text-xl font-serif text-slate-700 mb-4 max-w-5xl">{{ post.description }}</p>
          <span>{{ post.date | date: "%B %d, %Y" }}</span>
        </a>
        {% endfor %}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
